[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
django = "==4.0.*"

[dev-packages]
flake8 = "*"
twine = "*"
setuptools-scm = "*"
pre-commit = "*"
sphinx = "*"

[requires]
python_version = "3.9"
